<div class="page-header">
  <h3><%= fa_icon 'file-text' %> Comics <small>Listado</small></h3>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr class="pretty" align="center">
              <th><%= fa_icon 'file-image-o' %>&nbsp; Imagen</th>
              <th><%= fa_icon 'pencil-square-o' %>&nbsp; Titulo</th>
              <th  align="center"> Acciones &nbsp;<%= fa_icon 'edit' %></th>
            </tr>
          </thead>
          <tbody> 
          	<% @comics.sort_by{ |x| x.title }.each do |comic| %>
	          	<tr> 
		          	<td align="center"><%= image_tag comic.thumbnail + '.jpg', width: 75, height: 75 %></td>
		          	<td><%= comic.title %></td>
		          	<td align="center">
		  			       
		          
                  	  
		          	</td> 
		          	<!--<td><%# comic.description %></td>
		          	<td> <%# link_to comic.url, comic.url  %></td>-->
			 	</tr>
			<% end %>
          </tbody>
        </table>
    </div>
    <%# page_entries_info @comics %>
  </div>
  <div class="panel-footer">
    <%# paginate @comics %>
  </div>
</div>