<div class="page-header">
  <h3><%= fa_icon 'sign-language' %> Peleas <small>Listado de peleas</small></h3>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-12" align ="center">
        <% @total_peleas = Pelea.count %>
        <span class="btn btn-primary">Cantidad de peleas transcurridas: <b><%= @total_peleas %></b> </span>
      </div>
    </div>
    </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr class="pretty" align="center">
            
            <th> <%= fa_icon 'user-circle-o' %> Peleadores (Persona vs Superheroe)</th>
            <th> Ganador de pelea <%= fa_icon 'trophy' %></th>
          </tr>
        </thead>
        <tbody> 
          <% @peleas.order('created_at DESC').each do |pelea| %>
            <tr> 

              <td align="center"> <%= pelea.persona.nombre %> vs. <%= pelea.character.name %></td>
              <% if pelea.ganador_persona == true %>
                <td align= "center"><%= pelea.persona.nombre.upcase %></td>
              <% else %>
                <td align= "center"><%= pelea.character.name.upcase %></td>
              <% end %>        
           </tr>
         <% end %>
        </tbody>
      </table>
    </div>
  </div>
    <%= paginate @peleas %>
  <div>
      <%= page_entries_info @peleas %>
  </div>
</div>

