<div class="page-header">
    <h3><%= fa_icon 'user-circle-o' %> Personas <small>Listado</small></h3>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-5 col-centered">
                <%= form_tag('personas', method: :get) do %>
                <div class="input-group">
                    <input id="search" name="search" value="<%= params[:search] %>" type="text" class="form-control" placeholder="Buscar persona por nombre">
                    <span class="input-group-btn">
              <button class="btn btn-default" type="submit"><%= fa_icon 'search', text: '' %></button>
            </span>
                </div>
                <% end %>
            </div>
            <div class="col-lg-2">
                <%= link_to personas_path, class: 'btn btn-morado btn-sm' do %>
                <%= fa_icon 'trash', text: 'Limpiar' %>
                <% end %>
            </div>
            <div class="col-lg-5">
                <%= link_to new_persona_path, class: 'btn btn-success btn-sm pull-right' do %>
                <%= fa_icon 'plus', text: 'Crear Persona' %>
                <% end %>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr class="pretty" align="center">
                        <th>
                            <%= fa_icon 'vcard-o' %>&nbsp; Nombre</th>
                        <th colspan="3" align="center"> Acciones &nbsp;
                            <%= fa_icon 'edit' %>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% @personas.each do |persona| %>
                    <tr>
                        <td align="center">
                            <%= link_to persona.nombre.upcase, persona_path(persona) %>
                        </td>
                        <td align="center">
                            <%= link_to persona_path(persona), class: 'btn btn-info btn-xs small' do %>
                            <%= fa_icon 'eye', text: 'Ver' %>
                            <% end %>
                            <%= link_to edit_persona_path(persona), class: 'btn btn-warning btn-xs small' do %>
                            <%= fa_icon 'pencil', text: 'Editar' %>
                            <% end %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <%= page_entries_info @personas %>
    </div>
    <div class="panel-footer">
        <%= paginate @personas %>
    </div>
</div>