<div class="page-header clearfix">
  <h3><%= fa_icon 'user-circle-o' %> Persona <small>Detalle</small> </h3>
</div>
<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h4 class="pull-left"><%= @persona&.nombre %></h4>
  </div>
  <div class="tabs">
    <ul style="color:white;" class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#cabecera" aria-controls="cabecera" role="tab" data-toggle="tab">Datos</a>
      </li>
    </ul>
  </div>
  <div class="panel-body">
    <div class="tab-content">
      <!-- Cabecera -->
      <div role="tabpanel" class="tab-pane active" id="cabecera">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <tbody>
              <tr>
                <td class="col-title"><%= fa_icon 'user-circle-o'%> Nombre</td>
                <td class="col-content"><%=@persona&.nombre%></td>
              </tr>
              <tr>
                <td class="col-title"><%= fa_icon 'ambulance'%> Está viva</td>
                <%if @persona&.esta_vivo %>
                 <td class="green"> SÍ <%= fa_icon 'check-circle'%></td>
                <%else %>
                 <td class="red"> NO <%= fa_icon 'check-circle'%></td>
                <%end %>    
              </tr>
              <tr>
                <td class="col-title"><%= fa_icon 'bar-chart'%> Poder de ataque (1-100)</td>
                <td class="col-content"><%=@persona&.poder_ataque%></td>
              </tr>
               <tr>
                <td class="col-title"><%= fa_icon 'hashtag'%> Peleas ganadas en el día</td>
                <td class="col-content"><%= @persona&.peleas_ganadas_dia%></td>
              </tr>
              
              <tr>
                <td class="col-title"><%= fa_icon 'pie-chart'%> Probabilidad de victoria en una pelea</td>

                <% if @persona&.poder_ataque.between?(75,100)%>
                <td class="col-content">Esta persona tiene altas posibilidades de ganar en una batalla <%= fa_icon 'thumbs-o-up'%></td>
                <% elsif @persona&.poder_ataque.between?(40,74) %>
                 <td class="col-content">Esta persona tiene ciertas posibilidades de ganar en una batalla. <%= fa_icon 'hand-stop-o'%></td>
                <%else%>
                  <td class="col-content">Esta persona tiene pocas posibilidades de ganar en una batalla, sin embargo, nada es imposible. <%= fa_icon 'hand-peace-o'%></td>
                <%end%>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <%= link_to personas_path, class: 'btn btn-success' do %>
      <%= fa_icon 'list', text: 'Listar personas' %>
    <% end %>
    <%= link_to edit_persona_path(@persona), class: 'btn btn-warning' do %>
      <%= fa_icon 'pencil', text: 'Editar' %>
    <% end %>
  </div>
</div>
